* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.kakao_wrap {
	width: 1200px;
	margin: 0 auto;
}

.kakao_list {
	display: flex;
	flex-wrap: wrap;
}

.kakao_list li {
	width: 50%;
	padding: 30px;
    box-sizing: border-box;
}

.kakao_list li h1 {
	color: #fee500;
}

.kakao_list li h3 {
	color: #000;
}

.kakao_list li .img_wrap {
    display: flex;
	width: 400px;
    height: 250px;
	margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.kakao_list li .img_wrap img {
	max-height: 100%;
    max-width: 100%;
}
